.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
body {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  font-size: 40px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.whatToDo {
  width: 400px;
  height: 40px;
  text-align: center;
}
